.font-300 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
.font-500 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}
.navbar-color {
    background-color: #28A745;
}
.green-color {
    color: #28A745;
}
.gray-color{
    color: #707070;
}
.remove-margin {
    margin-bottom: 0;
}