.font-400{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}
.font-700{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}
.navbar-color{
    background-color: #373A3C;
}	
#hero {
    height: 100vh;
    background-image: url('../img/bg-hero.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.color-blue{
    background-color: #17A2B8;
    width: 100%;
}
#trabajos img{
    height: 11em;
    width: 100%;
}